body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ececec;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.quiz-container {
  width: 550px;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.text-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.timer {
  font-size: 16px;
}

.text {
  font-size: 16px;
}

.card {
  padding: 10px;
  border-radius: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.input {
  accent-color: #000;
  cursor: pointer;
}

label {
  font-size: 16px;
  cursor: pointer;
}

.next-btn, .reset-btn {
  padding: 12px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  align-self: flex-start;
  transition: 0.2s;
}

.next-btn:hover, .reset-btn:hover {
  background-color: #333;
}

/* Center score screen */
.quiz-container h1 {
  text-align: center;
}

.reset-btn {
  margin-top: 20px;
}
